<div class="container">
  <div class="row">
    <div class="col s12">
      <h3 class="center">Управление контентом</h3>
    </div>
    <div class="col s12">
      <div id="cards">
        {{>admin/cardboxList}}
      </div>
    </div>
    <div class="col s12">
      <div id="container">
        {{>admin/button}}
      </div>
    </div>
  </div>
</div>
</div>

<script>
  const templateCode = {{{ template }}};
  const cardboxTemplate = Handlebars.template(templateCode);

  const templateCode2 = {{{ template2 }}};
  const cardboxListTemplate = Handlebars.template(templateCode2);

  const templateCode3 = {{{ template3 }}};
  const newcardTemplate = Handlebars.template(templateCode3);

  const templateCode4 = {{{ template4 }}};
  const buttonTemplate = Handlebars.template(templateCode4);
</script>
