{{#if input}}
<p>Напишите вопросы и правильные ответы для вашего теста. Тест автоматически появится в выборе в пользовательском
    интерфейсе."</p>
<div class="row">
    <div class="col s3"></div>
    <div class="col s6 center">
        <div id="nameOfBox">
                    <span class="title">{{input.title}}</span>
        </div>
        <div id="quastion">
        </div>
        <input class="addButton" value="add question" type="submit">
        <input class="blue btn" id="save" value="save" type="submit">
    </div>
    <div class="col s3"></div>
</div>
{{else}}
<div>
    <input id="boxName" type="text" placeholder="Название для теста">
    <input id= "positionName" type="text" placeholder="Должность">
</div>
<input class="addButton" value="add question" type="submit">
{{/if}}