<h1>VkusVill / Education</h1>

<h3>Menu</h3>

<div class="container">
  <a href="admin/list">Список сотрудников/<a>
  <a href="admin/content">Управление контентом</a>
  <a href="admin/test">Управление тестированием</a>
  <a href="admin/stats">Статистика</a>
</div>
