<h1>VkusVill / Education</h1>

<h3>Menu</h3>

<div class="container">
  <a href="admin/list">Список сотрудников/<a>
  <a href="admin/content">Управление контентом</a>
  <a href="admin/test">Управление тестированием</a>
  <a href="admin/stats">Статистика</a>
</div>

<script src="//cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.runtime.min.js"></script>
<script>
    const templateCode = {{{ template }}}; 
    const cardboxTemplate = Handlebars.template(templateCode); 

    const templateCode2 = {{{ template2 }}};
    const cardsTemplate = Handlebars.template(templateCode2);
</script>