<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="center">Список сотрудников</h3>
        </div>
        <div id="div" class="col s12">
            {{>admin/listTemp}}
        </div>
        </div>
    </div>
</div>

{{!-- <script>
  const userCode = {{{ userTemp }}};
  const userHBS = Handlebars.template(userCode)
</script> --}}
<script>
  const listCode = {{{ listTemp }}};
  const listHBS = Handlebars.template(listCode)
  </script>
<script src="/js/admin/userProfile.js"></script>