<h1>VkusVill / Education</h1>

<h3>Список сотрудников</h3>

<table>
  <tr>
    <td><a href="/userProfile">ФИО</a></td>
    <td>Должность</td>
    <td>Локация</td>
  </tr>
  <tr>
    <td><a href="/userProfile">ФИО</a></td>
    <td>Должность</td>
    <td>Локация</td>
  </tr>
  <tr>
    <td><a href="/userProfile">ФИО</a></td>
    <td>Должность</td>
    <td>Локация</td>
  </tr>
</table>