<form id="new-card-form" class="" method="POST" action="/admin/createCard">

  <span>Title:</span>
  <input id="card-title" class="" type="text" name="title" value="">

  <span>Content:</span>
  <textarea  id="card-content" name="content" cols="100" rows="10"></textarea>

  <input id="ghost" type="hidden" type="text" value={{boxId}}>

  <button class="description" type="submit">Push</button>

</form>

