<form id="new-card-form" class="" method="post" action="/content">

  <span>Title:</span>
  <input id="card-title" class="" type="text" name="title" value="">

  <span>Content:</span>
  <input id="content" class="" type="text" name="content" value="">

  <button id="foo" type="submit" class="button">Create card</button>
</form>