<form id="new-cardbox-form" class="" method="post" action="/content">

  <span>Title:</span>
  <input id="cardbox-title" class="" type="text" name="title" value="">

  <span>Position:</span>
  <input id="user-position" class="" type="text" name="position" value="">

  <button id="foo" type="submit" class="button">Create</button>
</form>