<form id="new-cardbox-form" class="" method="POST" action="/admin/createCardbox">

  {{!-- <div id="cards">
    {{>admin/cardboxList}}
  </div> --}}

  <span>Title:</span>
  <input id="cardbox-title" class="" type="text" name="title" value="">

  <span>Position:</span>
  <input id="user-position" class="" type="text" name="position" value="">

  <button class="foo" type="submit">Create</button>

</form>