{{#if tests}}
<p>Придумайте название для вашего теста. Например "Тест - Продавец"</p>
{{#each tests}}
<form>
    <div class="row">
        <div class="col s6">
            <div class="collection">
                <a href="#!" class="collection-item" id="">{{this.title}}</a>
            </div>
        </div>

        <div class="col s6">
            <input class="blue btn" value="Show" type="submit" id = "btn-show" data-id = '{{this.title}}'>
            <input class="green btn" value="Edit" type="submit">
            <input class="red btn" value="Delete" type="submit" id = "btn-del" data-id = '{{this.title}}'>
        </div>
    </div>
</form>
{{/each}}
{{/if}}
<input class="blue btn" id="createNew" value="Create new" type="submit">
