<h1>VkusVill / Education</h1>

<h3>Список сотрудников</h3>

<form action="">
  
  <span>ФИО</span>
  <input type="text">

  <span>Должность</span>
  <input type="text">

  <span>Локация</span>
  <input type="text">

  <span>Дата рождения</span>
  <input type="text">

  <span>Номер телефона</span>
  <input type="text">

</form>