<form action="http://localhost:3000/user/test/final" method="GET">
    <input type="submit" value="Итоговое тестирование" />
</form>
<form action="http://localhost:3000/user/test/train" method="GET">
    <input type="submit" value="Пробное тестирование" />
</form>
<form action="http://localhost:3000/user/cards" method="GET">
    <input type="submit" value="База знаний" />
</form>