<ul id="ul" class="list">
  {{#each cardbox}}
  <li>
    <a class="" href="/user/cards/{{this.title}}">{{this.title}}</a>

      {{!-- <button data-id='{{this.title}}'class="fooh">Show</button> --}}
  
  </li>
  {{/each}}
</ul>